<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="dk.itu.coqoon.opam.ui.OPAMPreferencesPage"
            id="dk.itu.coqoon.opam.pref"
            name="OPAM">
      </page>
   </extension>

</plugin>
